*{
	margin:0;padding:0;
}

html,body{
	width:7.2rem;
	background: #f3f3f3;
}
.box12{
	width:100%;
	height:100%;
}
.box12 .main{
	width:100%;
	height:7.2rem;
	background: #fff;
}
.box12 .top{
	width:90%;
	height:7.2rem;
	margin:0 auto;
	
}
.box12 h2{
	font-size: 0.32rem;
}
.title{
	width;100%;
	height:1.15rem;
	line-height: 1.15rem;
	border-bottom: 1px solid #eae9e9;
}
.radiu{
	width:3rem;
	height:3rem;
	border-radius: 50%;
	margin:0 auto;
	margin-top:1.1rem;
	background: #eae9e9;
	font-size: 2rem;
	text-align: center;
	line-height: 3rem;
	color:#fff;
}
.btm{
	width:5rem;
	height:0.8rem;
	margin:0 auto;
	margin-top:0.35rem;
	text-align: center;
	color:#959595;
}
.btm p{
	font-size: 0.3rem;
	line-height: 0.4rem;
}

.box12 .allContentbox{
	width:100%;
	margin-top:0.1rem;
	background: #fff;
}
.allContent{
	width:90%;
	margin:0 auto;
}
